<%= turbo_frame_tag @movement, class: "table-row odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700" do %>
  <%= form_for @movement, method: :patch, html: { class: 'hidden' } do %>
  <% end %>

  <div class="table-cell px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= date(@movement) %>
  </div>

  <div class="table-cell px-0 py-0">
    <%= text_field :movement, :label, required: true, class: 'form-field', form: "edit_movement_#{@movement.id}" %>
    <% if @movement.errors.any? && @movement.errors[:label] %>
      <% @movement.errors.full_messages_for(:label).each do |msg| %>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium"><%= msg %></span></p>
      <% end %>
    <% end %>
  </div>

  <div class="table-cell px-6 py-4">
    <%= truncate(@movement.supplier, length: 26, separator: 'form-field') %>
  </div>

  <div class="table-cell px-6 py-4">
    <div class="<%= @movement.ignored? ? "blur-sm hover:blur-none" : "" %>">
      <%= amount(@movement) %>
    </div>
  </div>

  <div class="table-cell px-0 py-0">
    <%= text_field :movement, :comment, required: false, class: 'form-field', form: "edit_movement_#{@movement.id}" %>
    <% if @movement.errors.any? && @movement.errors[:comment] %>
      <% @movement.errors.full_messages_for(:comment).each do |msg| %>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium"><%= msg %></span></p>
      <% end %>
    <% end %>
  </div>

  <div class="table-cell px-6 py-4">
    <%= check_box :movement, :pointed, form: "edit_movement_#{@movement.id}", class: 'text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600' %>
  </div>

  <div class="table-cell px-6 py-4">
    <%= check_box :movement, :ignored, form: "edit_movement_#{@movement.id}", class: 'text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600' %>
  </div>

  <div class="table-cell px-6 py-4">
    <div class="inline-flex rounded-md shadow-sm" role="group">
      <%= link_to 'Cancel', movement_path(@movement), class: 'px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-2 focus:ring-gray-700 focus:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-500 dark:focus:text-white' %>
      <%= submit_tag 'Save', form: "edit_movement_#{@movement.id}", class: 'px-4 py-2 text-sm font-medium rounded-e-lg focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800' %>
    </div>
  </div>
<% end %>
