<h1>Movements</h1>
<h2>here you'll see movements for the period you selected on the menu</h2>

<div class="flex flex-col">
  <div class="grid grid-cols-1 gap-2 px-0 2xl:grid-cols-4 2xl:gap-6 2xl:px-6 xl:grid-cols-4 lg:grid-cols-3 lg:gap-4 md:grid-cols-2">
    <div class="block max-w-sm p-6 bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <h5 id="movements_count" class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <%= @movements_count %>
      </h5>
      <p id="movements_count" class="font-normal text-gray-700 dark:text-gray-400">Movements</p>
    </div>
    <div class="block max-w-sm p-6 bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <h5 id="movements_total_amount" class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <%= currency(@total_amount) %>
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">Total amount</p>
    </div>
  </div>

  <%= turbo_frame_tag 'movements_filters', target: 'movements_list' do %>
    <%= form_with url: movements_path, class: 'mt-10 flex flex-row gap-x-2', method: :get do |f| %>
      <button type="button" class="text-red-700 border border-red-700 hover:bg-red-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:focus:ring-red-800 dark:hover:bg-red-500">
        <svg class="size-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
        </svg>
      </button>
      <%= f.text_field :query, placeholder: 'Search by label/comment/amount', class: 'grow form-field' %>
      <%= f.select :type, options_for_select([['All types', 0], ['Vital', 1], ['Non essential', 2], ['Income', 3]]), {}, class: 'form-field' %>
      <%= f.select :category, options_for_select([['All categories', 0], ['Home', 1], ['Travel', 2]]), {}, class: 'form-field' %>
      <%= f.select :pointed, options_for_select([['All \'pointed\' status', nil], ['Pointed', true], ['Not pointed', false]]), {}, class: 'form-field' %>
      <%= f.select :ignored, options_for_select([['All \'ignored\' status', nil], ['Ignored', true], ['Not ignored', false]]), {}, class: 'form-field' %>
      <%= f.submit 'Filter', class: 'text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700' %>
    <% end %>
  <% end %>

  <div class="mt-10 relative overflow-x-auto  sm:rounded-lg">
    <%= turbo_frame_tag 'movements_list', src: movements_url(format: :turbo_stream, page: params[:page], query: params[:query], pointed: params[:pointed], ignored: params[:ignored]), class: 'flex flex-col justify-start items-stretch' do %>
      <%= render @movements %>

      <div class="mt-6 text-center">
        <%== pagy_nav @pagy %>
      </div>
    <% end %>
  </div>
</div>