<h1>Dashboard</h1>
<h2>Here you'll see overview informations & general analysis data.<br>
  Most of these datas are scoped to the period you selected on the menu</h2>

<div class="flex flex-col">
  <div class="grid grid-cols-1 gap-2 px-0 2xl:grid-cols-4 2xl:gap-6 2xl:px-6 xl:grid-cols-4 lg:grid-cols-3 lg:gap-4 md:grid-cols-2">
    <div class="block max-w-sm p-6 bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <h5 id="movements_count" class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        333
      </h5>
      <p id="movements_count" class="font-normal text-gray-700 dark:text-gray-400">Movements to categorize</p>
    </div>

    <div class="block max-w-sm bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex justify-between px-4 pt-4 md:px-6 md:pt-6">
        <div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= currency(@total_earnings) %></h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Earnings</p>
        </div>
      </div>
      <div class="h-24">
        <div data-controller="area-chart"
             data-area-chart-data-value="<%= @earnings_by_day.to_json %>"
             data-area-chart-series-names-value="<%= ['Earned'].to_json %>"
             data-area-chart-series-colors-value="<%= ['#27ae60'].to_json %>"
             data-area-chart-stroke-width-value="3"></div>
      </div>
    </div>

    <div class="block max-w-sm bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <div class="flex justify-between px-4 pt-4 md:px-6 md:pt-6">
        <div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= currency(@total_expenses) %></h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Expenses</p>
        </div>
      </div>
      <div class="h-24">
        <div data-controller="area-chart"
             data-area-chart-data-value="<%= @expenses_by_day.to_json %>"
             data-area-chart-series-names-value="<%= ['Spent'].to_json %>"
             data-area-chart-series-colors-value="<%= ['#e74c3c'].to_json %>"
             data-area-chart-stroke-width-value="3"></div>
      </div>
    </div>
  </div>

  <h2 class="mt-16">Saving over time: A year in review</h2>
  <div class="flex flex-col items-stretch gap-4">
    <div class="grid grid-cols-1 gap-2 px-0 2xl:grid-cols-4 2xl:gap-6 2xl:px-6 xl:grid-cols-4 lg:grid-cols-3 lg:gap-4 md:grid-cols-2">
      <div class="block max-w-sm p-6 bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h5 id="movements_count" class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <%= currency(@year_saved_total) %>
        </h5>
        <p id="movements_count" class="font-normal text-gray-700 dark:text-gray-400">Saved this year</p>
      </div>
      <div class="block max-w-sm p-6 bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h5 id="movements_total_amount" class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <%= currency(@year_average_saved) %>
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Average saved per month</p>
      </div>
      <div class="block max-w-sm p-6 bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h5 id="movements_total_amount" class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <%= currency(@year_estimation) %>
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Estimated saving at the end of year</p>
      </div>
    </div>

    <div class="px-0 2xl:px-6">
      <div class="bg-slate-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div data-controller="area-chart"
             data-area-chart-data-value="<%= @year_saved_by_month.to_json %>"
             data-area-chart-series-names-value="<%= ['Saved'].to_json %>"
             data-area-chart-series-colors-value="<%= ['#27ae60'].to_json %>"></div>
      </div>
    </div>
  </div>
</div>